<h2>Liste des vidéos</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Genre</th>
      <th>Public</th>
      <th>Partages</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <td>{{ video.id }}</td>
      <td>{{ video.title }}</td>
      <td>{{ video.genre }}</td>
      <td>{{ video.public }}</td>
      <td>{{ video.nbrShared }}</td>
      <td>
        <button *ngIf="video.nbrShared === 0" (click)="modifyVideo()" class="btn btn-primary">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>
